<div class="favorite">
  <h1>Избранное</h1>
  <div class="favoriteCollection">
    <% profile = @profiles.find(current_user.id) %>
    <% if profile.follows.count > 0 %>
      <% profile.follows.each do |follow|%>
        <div class="favCard">
          <%= render "brands/brandCard", mod: @brands.find(follow.brand_id) %>
          <%= link_to profile_follow_url(id: follow.id), method: :delete  do%>
            <span>Delete</span>
          <% end %>
        </div>
      <% end %>
    <% else %>
    <h3>У вас пока нет брендов, на которые вы подписаны</h3>
    <% end %>
  </div>

  <div class="favoriteCollection">
  <% @favorites.each do |favorite| %>
    <div class="favCard">
      <% product = @products.find(favorite.product_id) %>
      <%= render "products/productCard", mod: product %>
      <%= link_to profile_favorite_url(id: favorite.id), method: :delete  do%>
      <div class="delete">
        <span>Delete</span>
      </div>
      <% end %>
    </div>
  <% end %>
</div>

</div>
