<div class="block articles">
  <div class="pattern">
    <%#= image_tag(asset_path(@imagePath)) %>
  </div>
  <div class="content">
    <h2><%= h2 %></h2>
    <div class="cardsCollection">
      <% cla.all.sample(4).each do |el| %>
      <%= render cardType, mod: el %>
      <% end %>
    </div>
    <%= render "but", mes: mes, rout: rout, method: method %>
  </div>
</div>
