<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @active_effect.name %>
</p>

<%= link_to 'Edit', edit_active_effect_path(@active_effect) %> |
<%= link_to 'Back', active_effects_path %>
