.arti {
  display: flex;

  .article_nav {
    width: 240px;
    padding-right: 60px;
    border-right: solid #0A0202 1px;
    h3 {
      margin-bottom: 40px;
    }
    a {
      font-size: 16px;

      &:hover {
        text-decoration: underline;
      }
    }
    a + a {
      margin-top: 40px;
    }
  }
  .article_cont {
    margin-left: 120px;

    img {
      margin-bottom: 40px;
      width: 780px;
    }

    .butCollection {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 25vw;

      .but:first-of-type span {
        background-color: #F4EBDB;
        color: #0A0202;
      }
    }
  }
}
@media (max-width: 1439px) {

}
@media (max-width: 1023px) {
  .arti {
    .article_nav {
      width: 360px;
      padding-right: 30px;
    }
    .article_cont {
      margin-left: 50px;
      .butCollection {
        flex-direction: column;
        .but:last-of-type {
          margin-top: 30px;
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .arti {
    .article_nav {
      display: none;
    }
    .article_cont {
      margin-left: 0;
      h1 {
        width: 312px;
      }
      p {
        width: 312px;
      }
      .butCollection {
        width: 312px;
        .but a span {
          width: 285px;
        }
      }
    }
  }
}
