body {
  // width: 84vw;
  overflow-x: hidden;
  margin: 150px auto 0;
  padding-left: 180px;
  background-color: #E8D8C7;

  * {
    font-family: Pragmatica, sans-serif;
  }

  h1 {
    font-family: Pragmatica_cyr, sans-serif;
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 43px;
    line-height: 130%;
  }

  h2 {
    font-family: Pragmatica_cyr, sans-serif;
    font-size: 32px;
    font-weight: bold;
    margin: 0 0 30px 0;
  }

  h3 {
    font-family: Pragmatica_cyr, sans-serif;
    font-size: 22px;
    color: #30292F;
    font-weight: bold;
  }

  h4 {
    font-family: Pragmatica_cyr, sans-serif;
    font-size: 18px;
    font-weight: 500;
  }

  p {
    width: 40vw;
    font-size: 18px;
    line-height: 140%;
  }

  a {
    font-size: 20px;
    display: inline-block;
    text-decoration: none;

    &:hover {
      background: inherit;
      color: inherit;
      text-decoration: none;
    }

    &:visited {
      background: inherit;
      color: inherit;
      text-decoration: none;
    }
  }

  span {
    font-size: 16px;
  }

  .cardsCollection {
    display: grid;
    grid-template-columns: repeat(5  , 1fr);
    grid-gap: 40px;
    width: 50vw;

    &.articles {
      grid-template-columns: repeat(4  , 1fr);
    }

  }

  header {
    margin-bottom: 90px;
    display: grid;
    grid-template-columns: repeat(20, 4vw);

    .cover {
      grid-column: 1/10;
    }

    .attention {
      grid-column: 14/21;
      display: grid;
      grid-template-columns: repeat(8, 4vw);

      * {
        grid-column: 1/8;
      }
    }
  }

  .table {

    width: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    margin-top: 38px;

    .t_head {
      width: 100%;
      grid-column: 1/11;
      display: grid;
      grid-template-columns: repeat(10,1fr);

      h3 {
        &:first-of-type {
          grid-column: 1/3
        }
        &:nth-of-type(2) {
          grid-column: 4/7
        }
        &:last-of-type {
          grid-column: 8/11
        }
      }
    }

    .t_body {
      width: 100%;
      grid-column: 1/11;
      display: grid;
      grid-template-columns: repeat(10, 1fr);

      .block {
        width: 100%;
        grid-column: 1/11;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        margin-top: 45px;

        .promis {
          grid-column: 1/3
        }
        .components {
          grid-column: 4/7;

          .component + .component {
            margin-top: 30px;
          }
        }
        .result {
          grid-column: 8/11;

          p {
            width: 100%;
          }
        }
      }
    }
  }
}
