.block {
  // margin-left: -65px;
  display: flex;
  align-items: flex-start;
  .pattern {
    margin-right: 65px;
  }

  .content {
    h2 {
      margin-bottom: 40px;
    }
  }

}

.block + .block {
  margin-top: 124px;
}
