.block {
  // margin-left: -65px;
  display: flex;
  align-items: flex-start;
  .pattern {
    // margin-right: 65px;
  }

  .content {
    h2 {
      margin-bottom: 40px;
    }
  }

}

.block + .block {
  margin-top: 124px;
}

@media (max-width: 1023px) {

  .content {
    width: 91vw;
  }
  .block + .block {
    margin-top: 100px;
  }
}
