.favorite {
  .favoriteCollection {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 90px;

    .favCard {
      display: flex;
      flex-direction: column;
    }
  }

  .favoriteCollection + .favoriteCollection {
    margin-top: 120px;
  }
}
