@font-face {
  font-family: Pragmatica;
  src: url(fonts/Pragmatica.ttf);
  font-weight: normal;
}
@font-face {
  font-family: Pragmatica;
  src: url(fonts/Pragmatica_bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: Pragmatica_cyr;
  src: url(fonts/Pragmatica_cyr.ttf);
  font-weight: normal;
}
@font-face {
  font-family: Pragmatica_cyr;
  src: url(fonts/Pragmatica_cyr_bold.ttf);
  font-weight: bold;
}
