.mainCover {
  width: 100vw;
  height: 70vh;
  overflow: hidden;
  margin-left: -8vw;
  background-color: #F4EBDB;
  margin-top: -85px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 95px;

  .info {
    margin-top: 128px;
    margin-left: 8vw;
    width: 525px;

    p {
      width: 525px;
    }
  }

  img {
    width: 50vw;
  }

}
