.mainCover {
  width: 100vw;
  height: 40vw;
  overflow: hidden;
  margin-left: -8vw;
  background-color: #F4EBDB;
  margin-top: -85px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 95px;
  position: relative;

  .info {
    margin-top: 128px;
    margin-left: 8vw;
    width: 525px;
    z-index: 3;

    p {
      width: 525px;
    }
  }

  img {
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }

}
