.landing {
  z-index: -2;
  position: relative;
  width: 100vw;
  margin-left: -180px;
  margin-top: -150px;
  margin-bottom: -120px;
  background-color: #D6B89A;

  .info {
    background-color: #0A0202;
    position: sticky;
    padding: 150px 0;
    z-index: -2;

    img.first {
      position: absolute;
      right: 0;
      top: -62px;
      z-index: -1;
      width: 100vw;
    }

    .skreen {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .content {
        width: 565px;
        margin: 0 8vw;
        color: #E8D8C7;
        // &:not(:first-of-type) {
        //   margin-top: 300px;
        // }
        p {
          width: 565px;
        }
        .but a span {
          background-color: #D6B89A;
          color: #0A0202;
        }

      }

      &:nth-of-type(1) {
        margin-top: 150px;
      }

      &:nth-of-type(2) {
        flex-direction: row-reverse;
        margin-top: 320px;
        img {
          width: 40vw;
        }
      }

      &:nth-of-type(3) {
        margin: 170px 120px;

        .column {
          width: 360px;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          height: 445px;

          .img {
            height: 180px;
            display: flex;
            align-items: flex-end;
          }


          h3 {
            margin-top: 40px;
            margin-bottom: 30px;
            color: #D6B89A;
          }
          p {
            color: #D6B89A;
            width: 360px;
          }
        }
      }

      &:nth-of-type(4) {
        flex-direction: row;
        margin-bottom: 40px;

        img {
          margin-right: -50px;
        }
      }

      &:nth-of-type(5) {
        flex-direction: row-reverse;
        margin-bottom: 90px;

        img {
          margin-right: 8vw;
        }
      }

      &:nth-of-type(6) {
        flex-direction: row;

        img {
          margin-right: 16vw;
        }
      }
    }

  }
  .fot {
    position: relative;
    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 135px;
      img {
        margin-top: 30px;
        margin-bottom: 120px;
        position: sticky;
      }
    }

    img {
      position: absolute;
      left: 0;
      top: 60px;
    }
    h1 {
      color: #0A0202;
      text-align: center;
      width: 480px;
    }
  }
}
