.menubar {
  position: fixed;
  z-index: 5;
  top: 0;
  background-color: #0A0202;
  width: 100vw;
  height: 65px;
  border-bottom: 1px solid #E8D8C6;
  font-size: 16px;
  margin-left: -180px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  * {
    font-family: Pragmatica, sans-serif;
  }

  .burger {
    display: none;
    &.active {
      display: block;
    }
  }

  .left {
    padding-left: 80px;
    display: flex;
    align-items: center;

    .logo {
      margin-right: 50px;
    }

    ul {
      margin-top: 10px;
      display: flex;
      align-items: center;

      li {
        text-decoration: none;
        height: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;

        div {
          margin-top: 5px;
          display: none;
          width: 5px;
          height: 5px;
          border-radius: 5px;
          background-color: #E8D8C6,
        }

        &:hover {
          div {
            display: block;
          }
        }
      }
      li + li {
        margin-left: 4vw;
      }
    }
  }

  .rigth {
    padding-right: 80px;
    display: flex;
    align-items: center;

    div + div {
      margin-left: 15px;
    }
    .userInfo {
      display: flex;
      align-items: center;
      a + a {
        margin-left: 15px;
      }
    }
  }

  a {
    color: #E8D8C6;
    text-decoration: none;
    &.active {
      font-weight: bold;
    }

    &:hover {
      color: #E8D8C6;
      text-decoration: none;
    }
    &:visited {
      color: #E8D8C6;
    }
  }

}

@media (max-width: 1439px) {
  .menubar {
    padding-left: 100px;
  }
}

@media (max-width: 1023px) {
  .menubar {
    margin-left: -70px;
    padding: 0 50px;
    .burger {
      display: block;
    }
    .left ul {
      display: none;
    }

  }
}

@media (max-width: 765px) {
  .menubar {
    padding: 0 30px;
    margin-left: -40px;

    .burger {
      display: block;
    }
    .left ul {
      display: none;
    }

    .rigth .userInfo {
      display: none;
    }
  }
}
