.productCard {

  width: 235px;
  a {
    display: block;

    .image {
      position: relative;
      display: flex;
      justify-content: center;
      width: 235px;
      height: 305px;
      background: #A98B85;
      margin-bottom: 11px;
      overflow: hidden;

      img {
        // width: 100%;
        height: 100%;
      }

      .lables {
        position: absolute;
        top: 0;
        display: flex;
        padding: 13px;
        width: 89%;
        justify-content: space-between;

        .spetial {
          width: 60px;
          height: 60px;
          border-radius: 100%;
          background-color: #0A0202;
          display: flex;
          justify-content: center;
          align-items: center;

          span {
            padding: 11px 3px;
            font-size: 12px;
            color: #E8D8C7;
            text-align: center;
          }
        }

        img {
          width: 25px;
          height: 24px;
        }
      }
    }

    .icons {
      margin-bottom: 7px;
    }

    .info {
      h3 {
        opacity: 50%;
        margin-bottom: 8px;
      }
    }
  }

}

@media (max-width: 1023px) {
 .productCard {
   width: 192px;
   a {
     .image {
       width: 192px;
       height: 247px;
     }
     .info p {
       width: 100%
     }
   }
 }
}
@media (max-width: 767px) {
  .productCard {
    width: 144px;
    height: 300px;
    a {
      .image {
        width: 144px;
        height: 184px;
      }
      .info p {
        width: 100%
      }
    }
  }
}
