<div class="catalog">
  <h1>Каталог</h1>
  <div class="cardsCollection">
    <% Product.all.each do |product|%>
    <% @mod = product %>
    <%= render "productCard" %>
    <% end %>

  </div>
</div>
