<div class="catalog collection">
  <h1>Каталог</h1>
  <div class="groupCollection">
    <% i = 1 %>
    <% ProductGroup.all.each do |group| %>
      <%= link_to catalog_path(group) do%>
        <div class="block">
          <div class="image">
            <%= image_tag asset_path("covers/categories/cat_#{i}.jpg") %>
          </div>
          <% i += 1 %>
          <p><%= group.name %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
